<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.AptMapper">

    <insert id="insertApt" parameterType="org.scoula.dto.AptDTO">
        INSERT INTO apt_table (
            house_manage_no, pblanc_no, house_nm, house_secd, house_secd_nm,
            house_dtl_secd, house_dtl_secd_nm, rent_secd, rent_secd_nm,
            subscrpt_area_code, subscrpt_area_code_nm, hssply_adres,
            tot_suply_hshldco, rcrit_pblanc_de, rcept_bgnde, rcept_endde,
            spsply_rcept_bgnde, spsply_rcept_endde, gnrl_rnk1_crsparea_rcptde,
            gnrl_rnk1_crsparea_endde, gnrl_rnk1_etc_area_rcptde, gnrl_rnk1_etc_area_endde,
            gnrl_rnk2_crsparea_rcptde, gnrl_rnk2_crsparea_endde, gnrl_rnk2_etc_area_rcptde,
            gnrl_rnk2_etc_area_endde, przwner_presnatn_de, cntrct_cncls_bgnde,
            cntrct_cncls_endde, hmpg_adres, cnstrct_entrps_nm, mdhs_telno,
            bsns_mby_nm, mvn_prearnge_ym, speclt_rdn_earth_at, mdat_trget_area_secd,
            parcprc_uls_at, pblanc_url
        ) VALUES (
                     #{houseManageNo}, #{pblancNo}, #{houseNm}, #{houseSecd}, #{houseSecdNm},
                     #{houseDtlSecd}, #{houseDtlSecdNm}, #{rentSecd}, #{rentSecdNm},
                     #{subscrptAreaCode}, #{subscrptAreaCodeNm}, #{hssplyAdres},
                     #{totSuplyHshldco}, #{rcritPblancDe}, #{rceptBgnde}, #{rceptEndde},
                     #{spsplyRceptBgnde}, #{spsplyRceptEndde}, #{gnrlRnk1CrspareaRcptde},
                     #{gnrlRnk1CrspareaEndde}, #{gnrlRnk1EtcAreaRcptde}, #{gnrlRnk1EtcAreaEndde},
                     #{gnrlRnk2CrspareaRcptde}, #{gnrlRnk2CrspareaEndde}, #{gnrlRnk2EtcAreaRcptde},
                     #{gnrlRnk2EtcAreaEndde}, #{przwnerPresnatnDe}, #{cntrctCnclsBgnde},
                     #{cntrctCnclsEndde}, #{hmpgAdres}, #{cnstrctEntrpsNm}, #{mdhsTelno},
                     #{bsnsMbyNm}, #{mvnPrearngeYm}, #{specltRdnEarthAt}, #{mdatTrgetAreaSecd},
                     #{parcprcUlsAt}, #{pblancUrl}
                 )
            ON DUPLICATE KEY UPDATE
                                 house_nm = VALUES(house_nm),
                                 house_secd = VALUES(house_secd),
                                 house_secd_nm = VALUES(house_secd_nm),
                                 house_dtl_secd = VALUES(house_dtl_secd),
                                 house_dtl_secd_nm = VALUES(house_dtl_secd_nm),
                                 rent_secd = VALUES(rent_secd),
                                 rent_secd_nm = VALUES(rent_secd_nm),
                                 subscrpt_area_code = VALUES(subscrpt_area_code),
                                 subscrpt_area_code_nm = VALUES(subscrpt_area_code_nm),
                                 hssply_adres = VALUES(hssply_adres),
                                 tot_suply_hshldco = VALUES(tot_suply_hshldco),
                                 rcrit_pblanc_de = VALUES(rcrit_pblanc_de),
                                 pblanc_url = VALUES(pblanc_url)
    </insert>
    <insert id="insertAptType">
        INSERT INTO apt_type (house_ty, suply_ar, suply_hshldco, spsply_hshldco, lttot_top_amount, apt_idx)
        VALUES (#{houseTy}, #{suplyAr}, #{suplyHshldco}, #{spsplyHshldco}, #{lttotTopAmount}, #{aptIdx})
            ON DUPLICATE KEY UPDATE
                                 suply_ar = VALUES(suply_ar),
                                 suply_hshldco = VALUES(suply_hshldco),
                                 spsply_hshldco = VALUES(spsply_hshldco),
                                 lttot_top_amount = VALUES(lttot_top_amount);
    </insert>
    <insert id="insertOfficetel" parameterType="org.scoula.dto.OfficetelDTO">
        INSERT INTO officetel_table (
            house_manage_no,
            pblanc_no,
            house_nm,
            house_secd,
            house_secd_nm,
            house_dtl_secd,
            house_dtl_secd_nm,
            search_house_secd,
            subscrpt_area_code,
            subscrpt_area_code_nm,
            hssply_adres,
            tot_suply_hshldco,
            rcrit_pblanc_de,
            subscrpt_rcept_bgnde,
            subscrpt_rcept_endde,
            przwner_presnatn_de,
            cntrct_cncls_bgnde,
            cntrct_cncls_endde,
            hmpg_adres,
            bsns_mby_nm,
            mdhs_telno,
            mvn_prearnge_ym,
            pblanc_url
        ) VALUES (
                     #{houseManageNo},
                     #{pblancNo},
                     #{houseNm},
                     #{houseSecd},
                     #{houseSecdNm},
                     #{houseDtlSecd},
                     #{houseDtlSecdNm},
                     #{searchHouseSecd},
                     #{subscrptAreaCode},
                     #{subscrptAreaCodeNm},
                     #{hssplyAdres},
                     #{totSuplyHshldco},
                     #{rcritPblancDe},
                     #{rceptBgnde},
                     #{rceptEndde},
                     #{przwnerPresnatnDe},
                     #{cntrctCnclsBgnde},
                     #{cntrctCnclsEndde},
                     #{hmpgAdres},
                     #{bsnsMbyNm},
                     #{mdhsTelno},
                     #{mvnPrearngeYm},
                     #{pblancUrl}
                 )
        ON DUPLICATE KEY UPDATE
                             house_nm = VALUES(house_nm),
                             tot_suply_hshldco = VALUES(tot_suply_hshldco),
                             subscrpt_rcept_bgnde = VALUES(subscrpt_rcept_bgnde),
                             subscrpt_rcept_endde = VALUES(subscrpt_rcept_endde),
                             cntrct_cncls_bgnde = VALUES(cntrct_cncls_bgnde),
                             cntrct_cncls_endde = VALUES(cntrct_cncls_endde),
                             hmpg_adres = VALUES(hmpg_adres),
                             bsns_mby_nm = VALUES(bsns_mby_nm),
                             pblanc_url = VALUES(pblanc_url),
                             hssply_adres = VALUES(hssply_adres);
    </insert>


    <delete id="deleteOld" parameterType="java.time.LocalDate">
        DELETE FROM apt_table
        WHERE <![CDATA[ rcrit_pblanc_de < #{firstDayOfMonth} ]]>
    </delete>


    <select id="getIdxAndHouseMangeNo" resultType="org.scoula.dto.AptIdxDTO">
        SELECT apt_idx, house_manage_no
        FROM apt_table
    </select>

    <select id="getIdxAndHouseManageNoFromOfficetel" resultType="org.scoula.dto.OfficetelIdxDTO">
        SELECT officetel_idx, house_manage_no
        FROM officetel_table
    </select>

    <resultMap id="aptTypeMap" type="org.scoula.dto.AptTypeDTO">
        <result property="houseTy" column="house_ty"/>
        <result property="suplyAr" column="suply_ar"/>
        <result property="suplyHshldco" column="suply_hshldco"/>
        <result property="spsplyHshldco" column="spsply_hshldco"/>
        <result property="lttotTopAmount" column="lttot_top_amount"/>
    </resultMap>

    <resultMap id="aptDetailMap" type="org.scoula.dto.AptDetailDTO">
        <id property="pblancNo" column="pblanc_no"/>
        <result property="houseManageNo" column="house_manage_no"/>
        <result property="houseNm" column="house_nm"/>
        <result property="houseSecd" column="house_secd"/>
        <result property="houseSecdNm" column="house_secd_nm"/>
        <result property="houseDtlSecd" column="house_dtl_secd"/>
        <result property="houseDtlSecdNm" column="house_dtl_secd_nm"/>
        <result property="rentSecd" column="rent_secd"/>
        <result property="rentSecdNm" column="rent_secd_nm"/>
        <result property="subscrptAreaCode" column="subscrpt_area_code"/>
        <result property="subscrptAreaCodeNm" column="subscrpt_area_code_nm"/>
        <result property="hssplyAdres" column="hssply_adres"/>
        <result property="totSuplyHshldco" column="tot_suply_hshldco"/>
        <result property="rcritPblancDe" column="rcrit_pblanc_de"/>
        <result property="rceptBgnde" column="rcept_bgnde"/>
        <result property="rceptEndde" column="rcept_endde"/>
        <result property="spsplyRceptBgnde" column="spsply_rcept_bgnde"/>
        <result property="spsplyRceptEndde" column="spsply_rcept_endde"/>
        <result property="gnrlRnk1CrspareaRcptde" column="gnrl_rnk1_crsparea_rcptde"/>
        <result property="gnrlRnk1CrspareaEndde" column="gnrl_rnk1_crsparea_endde"/>
        <result property="gnrlRnk1EtcAreaRcptde" column="gnrl_rnk1_etc_area_rcptde"/>
        <result property="gnrlRnk1EtcAreaEndde" column="gnrl_rnk1_etc_area_endde"/>
        <result property="gnrlRnk2CrspareaRcptde" column="gnrl_rnk2_crsparea_rcptde"/>
        <result property="gnrlRnk2CrspareaEndde" column="gnrl_rnk2_crsparea_endde"/>
        <result property="gnrlRnk2EtcAreaRcptde" column="gnrl_rnk2_etc_area_rcptde"/>
        <result property="gnrlRnk2EtcAreaEndde" column="gnrl_rnk2_etc_area_endde"/>
        <result property="przwnerPresnatnDe" column="przwner_presnatn_de"/>
        <result property="cntrctCnclsBgnde" column="cntrct_cncls_bgnde"/>
        <result property="cntrctCnclsEndde" column="cntrct_cncls_endde"/>
        <result property="hmpgAdres" column="hmpg_adres"/>
        <result property="cnstrctEntrpsNm" column="cnstrct_entrps_nm"/>
        <result property="mdhsTelno" column="mdhs_telno"/>
        <result property="bsnsMbyNm" column="bsns_mby_nm"/>
        <result property="mvnPrearngeYm" column="mvn_prearnge_ym"/>
        <result property="specltRdnEarthAt" column="speclt_rdn_earth_at"/>
        <result property="mdatTrgetAreaSecd" column="mdat_trget_area_secd"/>
        <result property="parcprcUlsAt" column="parcprc_uls_at"/>
        <result property="pblancUrl" column="pblanc_url"/>
        <collection property="aptType" resultMap="aptTypeMap"/>
    </resultMap>


    <select id="getAptDetails" resultMap="aptDetailMap">
        SELECT
            a.house_manage_no,
            a.pblanc_no,
            a.house_nm,
            a.house_secd,
            a.house_secd_nm,
            a.house_dtl_secd,
            a.house_dtl_secd_nm,
            a.rent_secd,
            a.rent_secd_nm,
            a.subscrpt_area_code,
            a.subscrpt_area_code_nm,
            a.hssply_adres,
            a.tot_suply_hshldco,
            a.rcrit_pblanc_de,
            a.rcept_bgnde,
            a.rcept_endde,
            a.spsply_rcept_bgnde,
            a.spsply_rcept_endde,
            a.gnrl_rnk1_crsparea_rcptde,
            a.gnrl_rnk1_crsparea_endde,
            a.gnrl_rnk1_etc_area_rcptde,
            a.gnrl_rnk1_etc_area_endde,
            a.gnrl_rnk2_crsparea_rcptde,
            a.gnrl_rnk2_crsparea_endde,
            a.gnrl_rnk2_etc_area_rcptde,
            a.gnrl_rnk2_etc_area_endde,
            a.przwner_presnatn_de,
            a.cntrct_cncls_bgnde,
            a.cntrct_cncls_endde,
            a.hmpg_adres,
            a.cnstrct_entrps_nm,
            a.mdhs_telno,
            a.bsns_mby_nm,
            a.mvn_prearnge_ym,
            a.speclt_rdn_earth_at,
            a.mdat_trget_area_secd,
            a.parcprc_uls_at,
            a.pblanc_url,

            t.house_ty,
            t.suply_ar,
            t.suply_hshldco,
            t.spsply_hshldco,
            t.lttot_top_amount

        FROM apt_table a
                 LEFT JOIN apt_type t ON a.apt_idx = t.apt_idx
        WHERE a.pblanc_no = #{pblancNo};
    </select>

    <insert id="insertOfficetelType">
        INSERT INTO officetel_type (
            model_no,
            officetel_idx,
            tp,
            excluse_ar,
            suply_hshldco,
            suply_amount,
            subscrpt_reqst_amount,
            house_manage_no,
            pblanc_no
        ) VALUES (
                     #{modelNo},
                     #{officetelIdx},
                     #{tp},
                     #{excluseAr},
                     #{suplyHshldco},
                     #{suplyAmount},
                     #{subscrptReqstAmount},
                     #{houseManageNo},
                     #{pblancNo}
                 )
        ON DUPLICATE KEY UPDATE
                             excluse_ar = VALUES(excluse_ar),
                             suply_hshldco = VALUES(suply_hshldco),
                             suply_amount = VALUES(suply_amount),
                             subscrpt_reqst_amount = VALUES(subscrpt_reqst_amount),
                             tp = VALUES(tp);
    </insert>


    <delete id="deleteOldFromOfficetel" parameterType="java.time.LocalDate">
        DELETE FROM officetel_table
        WHERE <![CDATA[ rcrit_pblanc_de < #{firstDayOfMonth} ]]>
    </delete>




</mapper>