<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.AptMapper">

    <insert id="insertApt" parameterType="org.scoula.dto.AptDTO">
        INSERT INTO apt_table (
            house_manage_no, pblanc_no, house_nm, house_secd, house_secd_nm,
            house_dtl_secd, house_dtl_secd_nm, rent_secd, rent_secd_nm,
            subscrpt_area_code, subscrpt_area_code_nm, hssply_adres,
            tot_suply_hshldco, rcrit_pblanc_de, rcept_bgnde, rcept_endde,
            spsply_rcept_bgnde, spsply_rcept_endde, gnrl_rnk1_crsparea_rcptde,
            gnrl_rnk1_crsparea_endde, gnrl_rnk1_etc_area_rcptde, gnrl_rnk1_etc_area_endde,
            gnrl_rnk2_crsparea_rcptde, gnrl_rnk2_crsparea_endde, gnrl_rnk2_etc_area_rcptde,
            gnrl_rnk2_etc_area_endde, przwner_presnatn_de, cntrct_cncls_bgnde,
            cntrct_cncls_endde, hmpg_adres, cnstrct_entrps_nm, mdhs_telno,
            bsns_mby_nm, mvn_prearnge_ym, speclt_rdn_earth_at, mdat_trget_area_secd,
            parcprc_uls_at, pblanc_url
        ) VALUES (
                     #{houseManageNo}, #{pblancNo}, #{houseNm}, #{houseSecd}, #{houseSecdNm},
                     #{houseDtlSecd}, #{houseDtlSecdNm}, #{rentSecd}, #{rentSecdNm},
                     #{subscrptAreaCode}, #{subscrptAreaCodeNm}, #{hssplyAdres},
                     #{totSuplyHshldco}, #{rcritPblancDe}, #{rceptBgnde}, #{rceptEndde},
                     #{spsplyRceptBgnde}, #{spsplyRceptEndde}, #{gnrlRnk1CrspareaRcptde},
                     #{gnrlRnk1CrspareaEndde}, #{gnrlRnk1EtcAreaRcptde}, #{gnrlRnk1EtcAreaEndde},
                     #{gnrlRnk2CrspareaRcptde}, #{gnrlRnk2CrspareaEndde}, #{gnrlRnk2EtcAreaRcptde},
                     #{gnrlRnk2EtcAreaEndde}, #{przwnerPresnatnDe}, #{cntrctCnclsBgnde},
                     #{cntrctCnclsEndde}, #{hmpgAdres}, #{cnstrctEntrpsNm}, #{mdhsTelno},
                     #{bsnsMbyNm}, #{mvnPrearngeYm}, #{specltRdnEarthAt}, #{mdatTrgetAreaSecd},
                     #{parcprcUlsAt}, #{pblancUrl}
                 )
    </insert>
</mapper>