<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.mapper.GaScoreMapper">

    <!-- 청약 가점 저장 -->
    <insert id="insertGaScore">
        INSERT INTO user_info (
            users_idx,
            no_house_period,
            dependents_nm,
            no_house_score,
            dependents_score,
            payment_period,
            payment_period_score,
            head_of_household,
            house_owner,
            house_disposal,
            disposal_date,
            marital_status,
            wedding_date,
            total_ga_score
        )
        VALUES (
                   #{userIdx},
                   #{dto.noHousePeriod},
                   #{dto.dependentsNm},
                   #{dto.noHouseScore},
                   #{dto.dependentsScore},
                   #{dto.paymentPeriod},
                   #{dto.paymentPeriodScore},
                   #{dto.headOfHousehold},
                   #{dto.houseOwner},
                   #{dto.houseDisposal},
                   #{dto.disposalDate},
                   #{dto.maritalStatus},
                   #{dto.weddingDate},
                   #{dto.totalGaScore}
               )
        ON DUPLICATE KEY UPDATE
                             no_house_period      = VALUES(no_house_period),
                             dependents_nm        = VALUES(dependents_nm),
                             no_house_score       = VALUES(no_house_score),
                             dependents_score     = VALUES(dependents_score),
                             payment_period       = VALUES(payment_period),
                             payment_period_score = VALUES(payment_period_score),
                             head_of_household    = VALUES(head_of_household),
                             house_owner          = VALUES(house_owner),
                             house_disposal       = VALUES(house_disposal),
                             disposal_date        = VALUES(disposal_date),
                             marital_status       = VALUES(marital_status),
                             wedding_date         = VALUES(wedding_date),
                             total_ga_score       = VALUES(total_ga_score)
    </insert>

</mapper>
